/* 공통 요소
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
} */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    color: rgb(30, 63, 172);
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(157, 188, 255);
    color: #ffffff;
    padding: 10px;
}

header h2 {
    margin: 0;
}

.user-tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.user-icon i {
    font-size: 34px;
    color: #ffffff;
}

.login img {
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}

.info-bar p {
    background-color: rgb(222, 233, 253);
    margin: 0;
    padding: 10px;
}


.arrow {
    height: 20px;
    margin-left: 200px;
    margin-top: 30px;
}


.snack {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: rgb(157, 188, 255);
    color: #ffffff;
}

th,
td {
    padding: 8px;
    border: 1px solid rgb(157, 188, 255);
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
}

td {
    position: relative;
    background-color: rgb(246, 249, 255);
}

.link-chevron {
    position: absolute;
    right: 30px;
    top: 30%;
    text-decoration: none;
    color: rgb(157, 188, 255);
}

.link-chevron i {
    font-size: 14px;
    vertical-align: middle;
}

.link-chevron:hover {
    color: rgb(0, 81, 255);
}

.more {
    color: #888;
    font-size: 12px;
}

/* 그래프 영역 */
/* 막대그래프 */
.graph {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.bar-graph {
    margin-bottom: 30px;
}

.bar-label {
    margin: 8px 0 4px;
    font-weight: bold;
}

.bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.fill {
    height: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    overflow: visible;
}

.fill span {
    position: absolute;
    left: 30px;
    top: 10%;
    font-size: medium;
}

.fill.color1 {
    background-color: #b77dfa;
}

.fill.color2 {
    background-color: #ffc18f;
}

.fill.color3 {
    background-color: #a9dfbf;
}

.register-btn,
.vote-btn,
send-btn,
select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: rgb(157, 188, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 50px;
}

.register {
    text-align: center;
    margin: 1em;
    margin-bottom: 10px;
}


.box1 {
    width: 960px;
    display: flex;
    padding: 10px 0;
}

/* 관리자 페이지 */

.manage_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    width: 960px;
    height: calc(100% - 100px);
    border: #333 1px solid;
    flex-direction: column;
    align-items: flex-start;
}

#usrtext {
    margin-right: 10px;
}

.con1 {
    width: 620px;
    margin-left: 10px;
    margin-right: 20px;
    border: #333 1px solid;
    height: 300px;
}

.con2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
}

.con2>* {
    background-color: rgb(207, 207, 207);
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
}

.con2>button:hover {
    background-color: #cacaca;
    scale: 0.99;
}

/* 프린터 버튼*/
.print {
    background-color: #c7c7c7;
    border-radius: 4px;
}

.print:hover {
    background-color: #a7a7a7;
    scale: 0.99;
}

/* 부식목록 */
.box2 {
    display: flex;
    width: 940px;
    margin-left: 10px;
    flex-direction: column;
    height: calc(100% - 310px);
    box-sizing: border-box;
    position: relative;
}

.box2>div {
    display: flex;
    width: 940px;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: rgb(207, 207, 207);
    line-height: 30px;
}

.box2>div>button>img {
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: 25px;
}


.tablebox {
    padding: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box2>div>table {
    border-collapse: collapse;
    width: 940px;
}

.listno {
    width: 30px;
    text-align: center;
}

.listitem {
    width: 200px;
    text-align: center;
}

.countcell,
input[type=number] {
    width: 30px;
    text-align: center;
}

.checkcell {
    width: 30px;
    text-align: center;
}



/* managerlist - js 확인 */
.listprice {
    width: 60px;
    text-align: right;
}

#listpriceid {
    text-align: center;
}


.manage_sum {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    font-size: x-large;
}

.managerlist {
    border: #333 1px solid;
}

#mana_sum {
    color: rgb(255, 255, 105);
    font-weight: bold;
    font-size: x-large;
    height: 100%;
    width: 300px;
    margin-left: 10px;
}

/* 모달 공통 */
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(197, 215, 255, 0.856);
    border-radius: 8px;
    width: 780px;
    height: 400px;
    z-index: 999;
    display: none;
    flex-direction: column;
    padding: 20px;
}

.mohead {
    position: relative;
    display: flex;
    justify-content: center;
}

.searchset {
    display: flex;
    width: 40%;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #ffffff;
    justify-content: center;
}

.searchtool {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
}

.searchtool>img {
    height: 30px;
}





/* 가격 정보 관리 팝업 */
.sitelist {
    height: 200px;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.sitelist table {
    border-collapse: collapse;
}

.sitelist>table>tr>td {
    background-color: #fff;
}

.sitelist>table tr:hover {
    background-color: #cacaca;
    cursor: pointer;
}


/* 화이트리스트 팝업 */
.exit_modal {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mohead {
    width: 100%;
    height: 30px;
}

.searchbox {
    display: block;
    width: 500px;
    height: 30px;
    border: none;

}

#quick {
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    border-radius: 4px;
}

#quick_name {
    background-color: #f1f1f1;
    width: 150px;
    height: 30px;
    border: none;
    padding: 0 10px;
    display: block;
    border: 1px solid #333;
    border-radius: 4px;
}

#quick_email {
    background-color: #f1f1f1;
    width: 400px;
    height: 30px;
    border: none;
    padding: 0 10px;
    display: block;
    margin-left: 10px;
    margin-right: 70px;
    border: 1px solid #333;
    border-radius: 4px;
}

#quick_submit,
#quick_delete {
    width: 50px;
    height: 30px;
    background-color: #f1f1f1;
    margin-left: 5px;
    border-radius: 4px;
    border: 1px solid #333;
}


.modaltext {
    display: flex;
    margin-top: 10px;
    height: 30px;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.8em;
    justify-content: space-between;
    position: relative;
}

.modaltext>a {
    display: block;
}

#uploadBtn {
    position: absolute;
    right: 40px;
}

#uploadBtn>img {
    height: 20px;
    width: 20px;
}

#dnloadBtn>img {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
}

.authlist {
    height: 270px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.authlist table {
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: 100%;
    height: 100%;
}

.authlist table tr td {
    border: #cacaca 1px solid;
    padding: 0px 10px;
    height: 20px;
    font-size: 0.9em;
    color: #5e5e5e;
}

.wl_name {
    width: 150px;
}




/* 가격 정보 관리 팝업 */
.modal.pop_si {
    height: 300px;
    box-sizing: border-box;
}

.mohead.site_search>form {
    width: 100%;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0);
}

.mohead.site_search>form>input {
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 4px;
    padding: 0 10px;
}

#site_submit {
    border-radius: 4px;
    padding: 0 10px;
    background-color: #fff;
}

.siteurl {
    width: 95%;
}

.delete_btn {
    width: 5%;
    display: block;
}

.delete_btn>img {
    width: 15px;
}


/* class 없음.
삭제시 애니메이션 */
.slide_out {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.4s ease;
}



/* 투표팝업 */
.modal.pop_vo {
    height: 200px;
}

.modal.pop_vo>section {
    height: 50%;
}

.modal.pop_vo>section>div>span {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
}

.subtext {
    width: 50px !important;
}

.vohead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.vohead>div {
    margin-bottom: 10px;
}

/* 금액 설정 팝업 */
.modal.pop_pr {
    height: 80px;
}

.mohead.prhead {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mohead.prhead>div>span {
    margin-right: 10px;
}

.selftype {
    width: 100px;
    text-align: right;
}

.moneylimit {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    header,
    .main-content,
    .side-panel,
    .panel,
    .graph,
    .con1,
    .box2 {
        flex-direction: column !important;
        width: 100% !important;
        padding: 10px !important;
    }

    .register-btn,
    .vote-btn,
    .send-btn,
    .select-btn {
        width: 80% !important;
        margin: 10px auto !important;
    }

    .login img,
    .user-icon i {
        height: 28px !important;
        font-size: 28px !important;
    }

    .arrow {
        margin: 10px auto;
        display: block;
    }

    .select-frame {
        height: 400px !important;
    }

    table,
    th,
    td {
        font-size: 12px !important;
        word-break: keep-all;
    }

    .fill span {
        left: 10px;
        font-size: 12px !important;
    }

    .modal {
        width: 95% !important;
        height: auto !important;
    }
}